<div fxLayout="row wrap">
  <div fxFlex="100">
    <div fxLayoutAlign="center">
      <h2 mat-dialog-title>Reestablecer contraseña</h2>
    </div>

    <mat-divider></mat-divider>

    <mat-dialog-content>
      <form class="mt-2"
            [formGroup]="resetPasswordForm">
        <div fxLayout="column"
             fxLayoutGap="20px">
          <mat-form-field class="w100"
                          appearance="fill">
            <mat-label>Correo electrónico</mat-label>
            <input matInput
                   type="text"
                   placeholder="example@gmail.com"
                   formControlName="email"
                   max="120">
            <mat-icon matSuffix>email</mat-icon>

            <mat-error *ngIf="formErrors.required('email')">
              El correo electrónico es requerido.
            </mat-error>

            <mat-error *ngIf="formErrors.email('email')">
              El correo electrónico no tiene el formato correcto.
            </mat-error>

            <mat-error *ngIf="formErrors.maxLength('email')">
              La contraseña debe tener menos de {{ formErrors.errorObject('email', 'maxlength').requiredLength }} caracteres.
            </mat-error>
          </mat-form-field>

          <p>Nota: se enviará un correo con la nueva contraseña de la cuenta</p>
        </div>
      </form>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-raised-button
              color="warn"
              [mat-dialog-close]="true">
        Cerrar
      </button>
      <button mat-raised-button
              color="primary"
              (click)="resetPassword()">
        Enviar
      </button>
    </mat-dialog-actions>
  </div>
</div>
