<div class="w-full h-full bg-pattern flex flex-col items-center justify-center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-md">
    <div class="p-6 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center">
        <img class="w-16"
             src="assets/img/logo/logo.svg"
             alt="logo" height="16" width="16" />
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Bienvenido</h2>
      <h4 class="body-2 text-secondary m-0">
        Inicie sesión con sus credenciales a continuación
      </h4>
    </div>

    <div [formGroup]="form"
         class="p-6 flex flex-col gap-4">
      <div class="flex flex-col gap-0.5">
        <mat-form-field class="flex-1">
          <mat-label>Correo electrónico</mat-label>
          <input formControlName="correo"
                 matInput />

          <mat-error *ngIf="form.controls.correo.hasError('required')">
            El <strong>correo electrónico</strong> es obligatorio
          </mat-error>
          <mat-error *ngIf="form.controls.correo.hasError('email')">
            El <strong>correo electrónico</strong> no es válido
          </mat-error>
        </mat-form-field>

        <mat-form-field class="flex-1">
          <mat-label>Contraseña</mat-label>
          <input [type]="inputType"
                 formControlName="contrasenia"
                 matInput />
          <button (click)="toggleVisibility()"
                  mat-icon-button
                  matIconSuffix
                  matTooltip="Alternar visibilidad"
                  type="button">
            <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
            <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
          </button>

          <mat-hint>Click en el ojo para alternar la visibilidad</mat-hint>

          <mat-error *ngIf="form.controls.contrasenia.hasError('required')">
            La <strong>contraseña</strong> es obligatoria
          </mat-error>
          <mat-error *ngIf="form.controls.contrasenia.hasError('minlength')">
            La <strong>contraseña</strong> debe tener más de {{ form.controls.contrasenia.getError('minlength').requiredLength }} caracteres
          </mat-error>
          <mat-error *ngIf="form.controls.contrasenia.hasError('maxlength')">
            La <strong>contraseña</strong> debe tener menos de {{ form.controls.contrasenia.getError('maxlength').requiredLength }} caracteres
          </mat-error>
        </mat-form-field>
      </div>

      <div class="flex items-center justify-between">
        <mat-checkbox class="caption"
                      color="primary"
                      [formControl]="rememberMeControl">
          Recordarme
        </mat-checkbox>

        <a [routerLink]="['/restablecer']" class="caption">
          ¿Olvidaste tu contraseña?
        </a>
      </div>

      <button (click)="send()" color="primary" mat-raised-button type="button">
        INICIAR SESIÓN
      </button>
    </div>
  </div>
</div>
