<div fxLayout="row wrap">
  <div fxFlex="100">
    <h2 mat-dialog-title>Confirmación</h2>

    <mat-divider></mat-divider>

    <mat-dialog-content class="mat-typography">
      <div class="mt-20">
        <p>¿Está seguro de eliminar el registro?</p>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-raised-button
              color="warn"
              [mat-dialog-close]="false">
        No
      </button>
      <button mat-raised-button
              color="primary"
              [mat-dialog-close]="true">
        Si
      </button>
    </mat-dialog-actions>
  </div>
</div>
