<table mat-table
       [dataSource]="dataSource"
       matSort
       (matSortChange)="announceSortChange($event)"
       class="mat-elevation-z8">

  <!-- Columns -->
  <ng-container [matColumnDef]="displayColumn.column"
                *ngFor="let displayColumn of displayedColumns">
    <ng-container *ngIf="displayColumn.column !== 'acciones'; else actions">
      <ng-container *ngIf="displayColumn.isSortable; else noSortable">
        <th mat-header-cell
            *matHeaderCellDef
            [mat-sort-header]="displayColumn.column"
            [sortActionDescription]="'Ordenar por {{ columnsTitle[displayColumn.column] }}'">
          {{ columnsTitle[displayColumn.column] }}
        </th>
        <td mat-cell
            *matCellDef="let element">
          {{ element[displayColumn.column] }}
        </td>
      </ng-container>

      <ng-template #noSortable>
        <th mat-header-cell
            *matHeaderCellDef>
          {{ columnsTitle[displayColumn.column] }}
        </th>
        <td mat-cell
            *matCellDef="let element">
          {{ element[displayColumn.column] }}
        </td>
      </ng-template>
    </ng-container>

    <ng-template #actions>
      <th mat-header-cell
          *matHeaderCellDef>
        Acciones
      </th>
      <td mat-cell
          *matCellDef="let element">
        <button mat-icon-button
                color="primary"
                aria-label="Editar"
                (click)="edit(element.id)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button
                color="warn"
                aria-label="Eliminar"
                (click)="delete(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-template>
  </ng-container>

  <tr mat-header-row
      *matHeaderRowDef="getColumnsArray()"></tr>
  <tr mat-row
      *matRowDef="let row; columns: getColumnsArray();"></tr>
</table>
