table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.td-data {
  padding: 5px;
}

.table-container {
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}
