<mat-form-field *ngIf="type === 'text' || type === 'number'"
                class="flex">
  <input
    [type]="type"
    matInput
    [formControl]="input"
    (keydown.enter)="onClickInput()"
  />
  <button [matMenuTriggerFor]="operatorsMenu"
          mat-icon-button
          matIconSuffix
          matTooltip="Filtros avanzados"
          type="button">
    <mat-icon svgIcon="mat:filter_alt"></mat-icon>
  </button>
</mat-form-field>

<mat-form-field *ngIf="type === 'date'"
                class="flex">
  <input matInput
         [matDatepicker]="picker"
         (click)="picker.open()"
         placeholder="DD/MM/AAAA"
         readonly
         [formControl]="input"
         (dateChange)="onDateChange()">
  <button [matMenuTriggerFor]="operatorsMenu"
          mat-icon-button
          matIconSuffix
          matTooltip="Filtros avanzados"
          type="button">
    <mat-icon svgIcon="mat:filter_alt"></mat-icon>
  </button>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field *ngIf="type === 'enum'"
                class="flex">
  <mat-select [(value)]="optionSelectedIndex">
    <mat-option *ngFor="let row of enumMenu;"
                [value]="row.id"
                (click)="searchOptionEnum(row)">
      {{ row.valor }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-menu #operatorsMenu="matMenu"
          xPosition="before"
          yPosition="below">
  <ng-template matMenuContent>
    <button mat-menu-item
            *ngFor="let row of menu; index as i"
            (click)="searchOption(row, i)"
            [ngClass]="{ 'bg-primary-600/10': i === optionSelectedIndex }">
      <span [ngClass]="{ 'text-primary-600 dark:text-primary-400': i === optionSelectedIndex }">
        {{ row.label }}
      </span>
    </button>
  </ng-template>
</mat-menu>
