<form [formGroup]="form"
      (ngSubmit)="save()">
  <div class="flex items-center" mat-dialog-title>
    <h2 class="headline m-0 flex-auto">
      Cambiar contraseña
    </h2>

    <button class="text-secondary"
            mat-dialog-close
            mat-icon-button
            type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="text-border"></mat-divider>

  <mat-dialog-content class="flex flex-col gap-5">
    <mat-form-field class="flex-auto">
      <mat-label>Contraseña actual</mat-label>

      <input matInput
             [type]="inputTypeCurrent"
             formControlName="contraseniaActual">

      <button (click)="toggleVisibility('current')"
              mat-icon-button
              matIconSuffix
              matTooltip="Alternar visibilidad"
              type="button">
        <mat-icon *ngIf="visibleCurrent" svgIcon="mat:visibility"></mat-icon>
        <mat-icon *ngIf="!visibleCurrent" svgIcon="mat:visibility_off"></mat-icon>
      </button>

      <mat-error *ngIf="form.get('contraseniaActual')?.hasError('required')">
        Campo obligatorio
      </mat-error>
      <mat-error *ngIf="form.get('contraseniaActual')?.hasError('minlength')">
        El campo debe tener más de {{form.get('contraseniaActual')?.getError('minlength').requiredLength}} caracteres
      </mat-error>
      <mat-error *ngIf="form.get('contraseniaActual')?.hasError('maxlength')">
        El campo debe tener menos de {{form.get('contraseniaActual')?.getError('maxlength').requiredLength}} caracteres
      </mat-error>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Nueva contraseña</mat-label>
      <input matInput
             [type]="inputTypeNew"
             formControlName="contrasenia">
      <button (click)="toggleVisibility('new')"
              mat-icon-button
              matIconSuffix
              matTooltip="Alternar visibilidad"
              type="button">
        <mat-icon *ngIf="visibleNew" svgIcon="mat:visibility"></mat-icon>
        <mat-icon *ngIf="!visibleNew" svgIcon="mat:visibility_off"></mat-icon>
      </button>

      <mat-error *ngIf="form.get('contrasenia')?.hasError('required')">
        Campo obligatorio
      </mat-error>
      <mat-error *ngIf="form.get('contrasenia')?.hasError('minlength')">
        El campo debe tener más de {{form.get('contrasenia')?.getError('minlength').requiredLength}} caracteres
      </mat-error>
      <mat-error *ngIf="form.get('contrasenia')?.hasError('maxlength')">
        El campo debe tener menos de {{form.get('contrasenia')?.getError('maxlength').requiredLength}} caracteres
      </mat-error>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Confirmar contraseña</mat-label>
      <input matInput [type]="inputTypeConfirm" formControlName="confirmPassword">
      <button (click)="toggleVisibility('confirm')"
              mat-icon-button
              matIconSuffix
              matTooltip="Alternar visibilidad"
              type="button">
        <mat-icon *ngIf="visibleConfirm" svgIcon="mat:visibility"></mat-icon>
        <mat-icon *ngIf="!visibleConfirm" svgIcon="mat:visibility_off"></mat-icon>
      </button>

      <mat-error *ngIf="form.get('confirmPassword')?.hasError('required')">
      </mat-error>
      <mat-error *ngIf="form.get('confirmPassword')?.hasError('minlength')">
        El campo debe tener más de {{form.get('confirmPassword')?.getError('minlength').requiredLength}} caracteres
      </mat-error>
      <mat-error *ngIf="form.get('confirmPassword')?.hasError('maxlength')">
        El campo debe tener menos de {{form.get('confirmPassword')?.getError('maxlength').requiredLength}} caracteres
      </mat-error>
      <mat-error *ngIf="form.get('confirmPassword')?.hasError('differentPassword')">
        Las contraseñas deben ser iguales
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button
            mat-dialog-close
            type="button">
      Cancelar
    </button>

    <button
      color="primary"
      mat-flat-button
      type="submit">
      Guardar
    </button>
  </mat-dialog-actions>
</form>
