<vex-page-layout>
  <div @stagger class="p-6 container">
    <h2 class="title mb-4 flex items-center">
    <span
      @scaleIn
      class="w-10 h-10 rounded-full text-primary-600 mr-3 flex items-center justify-center bg-primary-600/10">
      <mat-icon class="icon-sm" svgIcon="mat:volunteer_activism"></mat-icon>
    </span>
      <span @fadeInRight class="block">Crear donación</span>
    </h2>

    <div @fadeInUp class="card overflow-hidden">
      <mat-horizontal-stepper #stepper="matHorizontalStepper" [linear]="true">
        <ng-template matStepperIcon="edit">
          <mat-icon svgIcon="mat:done_all"></mat-icon>
        </ng-template>

        <ng-template matStepperIcon="done">
          <mat-icon svgIcon="mat:done_all"></mat-icon>
        </ng-template>

        <mat-step [stepControl]="usersForm">
          <form [formGroup]="usersForm">
            <ng-template matStepLabel>Agregar usuario(s)</ng-template>

            <div class="mt-4 flex flex-row gap-3">
              <mat-form-field class="flex-none">
                <mat-label>Tipo de usuario</mat-label>
                <mat-select formControlName="typeUserAdd">
                  <mat-option [value]="USER_BD">
                    Registrado
                  </mat-option>
                  <mat-option [value]="NEW_USER">
                    Nuevo
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <button class="flex-none"
                      color="primary"
                      mat-mini-fab
                      matTooltip="Agregar"
                      type="button"
                      (click)="addNewUser()">
                <mat-icon svgIcon="mat:add"></mat-icon>
              </button>
            </div>

            <div class="flex flex-col mt-2">
              <mat-accordion [multi]="true">
                <!-- Usuarios registrados -->
                <ng-container *ngIf="usersBDFormArray.length > 0"
                              formArrayName="usuariosExistentes">
                  <ng-container *ngFor="let userControl of usersBDFormArray.controls; let i = index">
                    <mat-expansion-panel [formGroupName]="i"
                                         [expanded]="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title class="flex items-center">
                          Usuario registrado #{{ i + 1 }}
                          <mat-icon class="text-warn-400 ml-2"
                                    svgIcon="mat:delete"
                                    matTooltip="Remover usuario"
                                    (click)="removeUserBD(i)">
                          </mat-icon>
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                      <div class="mt-4 flex flex-row gap-3">
                        <mat-form-field class="flex-auto">
                          <mat-label>Usuario</mat-label>
                          <mat-select formControlName="id">
                            <mat-option *ngFor="let user of users; trackBy: trackById"
                                        [value]="user.id">
                              {{ user.nombreCompleto }}
                            </mat-option>
                          </mat-select>

                          <mat-error *ngIf="userControl.get('id')?.hasError('required')">
                            Campo obligatorio
                          </mat-error>
                          <mat-error *ngIf="userControl.get('id')?.hasError('duplicateUser')">
                            El usuario ya está agregado. Favor de elegir otro
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </mat-expansion-panel>
                  </ng-container>
                </ng-container>

                <!-- Usuarios nuevos -->
                <ng-container *ngIf="newUsersFormArray.length > 0"
                              formArrayName="usuariosNuevos">
                  <ng-container *ngFor="let userControl of newUsersFormArray.controls; let i = index">
                    <mat-expansion-panel [formGroupName]="i"
                                         [expanded]="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title class="flex items-center">
                          Usuario nuevo #{{ i + 1 }}
                          <mat-icon class="text-warn-400 ml-2"
                                    svgIcon="mat:delete"
                                    matTooltip="Remover usuario"
                                    (click)="removeNewUser(i)">
                          </mat-icon>
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                      <div class="flex flex-col gap-3">
                        <div class="flex flex-col gap-3 md:flex-row md:gap-5">
                          <mat-form-field class="flex-auto">
                            <mat-label>Nombre completo</mat-label>
                            <input
                              matInput
                              formControlName="nombreCompleto"
                            />

                            <mat-error *ngIf="userControl.get('nombreCompleto')?.hasError('required')">
                              Campo obligatorio
                            </mat-error>
                            <mat-error *ngIf="userControl.get('nombreCompleto')?.hasError('minlength')">
                              El campo debe tener más de {{ userControl.get('nombreCompleto')?.getError('minlength').requiredLength }} caracteres
                            </mat-error>
                            <mat-error *ngIf="userControl.get('nombreCompleto')?.hasError('maxlength')">
                              El campo debe tener menos de {{ userControl.get('nombreCompleto')?.getError('maxlength').requiredLength }} caracteres
                            </mat-error>
                          </mat-form-field>

                          <mat-form-field class="flex-auto">
                            <mat-label>Correo electrónico</mat-label>
                            <input
                              matInput
                              formControlName="correo"
                            />

                            <mat-error *ngIf="userControl.get('correo')?.hasError('required')">
                              Campo obligatorio
                            </mat-error>
                            <mat-error *ngIf="userControl.get('correo')?.hasError('email')">
                              El campo no es una dirección de correo válida
                            </mat-error>
                          </mat-form-field>
                        </div>

                        <div class="flex flex-col gap-3 md:flex-row md:gap-5">
                          <mat-form-field class="flex-auto">
                            <mat-label>Teléfono</mat-label>
                            <input
                              matInput
                              formControlName="telefono"
                              onlyNumbers
                              maxlength="10"
                            />

                            <mat-error *ngIf="userControl.get('telefono')?.hasError('required')">
                              Campo obligatorio
                            </mat-error>
                            <mat-error *ngIf="userControl.get('telefono')?.hasError('minlength')">
                              El campo debe tener {{ userControl.get('telefono')?.getError('minlength').requiredLength }} caracteres
                            </mat-error>
                            <mat-error *ngIf="userControl.get('telefono')?.hasError('maxlength')">
                              El campo debe tener {{ userControl.get('telefono')?.getError('maxlength').requiredLength }} caracteres
                            </mat-error>
                          </mat-form-field>

                          <mat-form-field class="flex-auto">
                            <mat-label>Fecha nacimiento</mat-label>
                            <input
                              matInput
                              formControlName="fechaNacimiento"
                              [matDatepicker]="picker"
                              (click)="picker.open()"
                              [max]="now"
                              readonly
                            />
                            <mat-datepicker #picker></mat-datepicker>

                            <mat-error *ngIf="userControl.get('fechaNacimiento')?.hasError('required')">
                              Campo obligatorio
                            </mat-error>
                          </mat-form-field>
                        </div>

                        <div class="flex flex-col gap-3 md:flex-row md:gap-5">
                          <mat-form-field class="flex-auto">
                            <mat-label>Género</mat-label>
                            <mat-select formControlName="sexoId">
                              <mat-option
                                *ngFor="let row of sexOptions; trackBy: trackById"
                                [value]="row.id"
                              >
                                {{ row.valor }}
                              </mat-option>
                            </mat-select>

                            <mat-error *ngIf="userControl.get('sexoId')?.hasError('required')">
                              Campo obligatorio
                            </mat-error>
                          </mat-form-field>

                          <mat-form-field class="flex-auto">
                            <mat-label>Rol</mat-label>
                            <mat-select formControlName="rolId">
                              <mat-option
                                *ngFor="let row of rolesOptions; trackBy: trackById"
                                [value]="row.id"
                              >
                                {{ row.nombre }}
                              </mat-option>
                            </mat-select>

                            <mat-error *ngIf="userControl.get('rolId')?.hasError('required')">
                              Campo obligatorio
                            </mat-error>
                          </mat-form-field>

                          <mat-form-field class="flex-auto">
                            <mat-label>Tipo</mat-label>
                            <mat-select formControlName="tipoId">
                              <mat-option
                                *ngFor="let row of typeUserOptions; trackBy: trackById"
                                [value]="row.opcionId">
                                {{ row.valor }}
                              </mat-option>
                            </mat-select>

                            <mat-error *ngIf="userControl.get('tipoId')?.hasError('required')">
                              Campo obligatorio
                            </mat-error>
                          </mat-form-field>
                        </div>

                        <ng-container
                          *ngIf="userControl.get('tipoId')?.value === typeUser.ESCOLAR"
                          formGroupName="escolar">
                          <div class="flex flex-col gap-3 md:flex-row md:gap-5">
                            <mat-form-field class="flex-auto">
                              <mat-label>Matricula</mat-label>
                              <input
                                matInput
                                formControlName="matricula"
                              />

                              <mat-error *ngIf="userControl.get('escolar.matricula')?.hasError('required')">
                                Campo obligatorio
                              </mat-error>
                              <mat-error *ngIf="userControl.get('escolar.matricula')?.hasError('minlength')">
                                El campo debe tener más de {{ userControl.get('escolar.matricula')?.getError('minlength').requiredLength }} caracteres
                              </mat-error>
                              <mat-error *ngIf="userControl.get('escolar.matricula')?.hasError('maxlength')">
                                El campo debe tener menos de {{ userControl.get('escolar.matricula')?.getError('maxlength').requiredLength }} caracteres
                              </mat-error>
                            </mat-form-field>

                            <mat-form-field class="flex-auto">
                              <mat-label>Tipo escolar</mat-label>
                              <mat-select formControlName="tipoId">
                                <mat-option
                                  *ngFor="let row of typeEscolarOptions; trackBy: trackById"
                                  [value]="row.id"
                                >
                                  {{ row.valor }}
                                </mat-option>
                              </mat-select>

                              <mat-error *ngIf="userControl.get('escolar.tipoId')?.hasError('required')">
                                Campo obligatorio
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </ng-container>

                        <ng-container
                          *ngIf="userControl.get('tipoId')?.value === typeUser.ALUMNO"
                          formGroupName="alumno">
                          <div class="flex flex-col gap-3 md:flex-row md:gap-5">
                            <mat-form-field class="flex-auto">
                              <mat-label>Semestre</mat-label>
                              <mat-select formControlName="semestre">
                                <mat-option [value]="1">1</mat-option>
                                <mat-option [value]="2">2</mat-option>
                                <mat-option [value]="3">3</mat-option>
                                <mat-option [value]="4">4</mat-option>
                                <mat-option [value]="5">5</mat-option>
                                <mat-option [value]="6">6</mat-option>
                              </mat-select>

                              <mat-error *ngIf="userControl.get('alumno.semestre')?.hasError('required')">
                                Campo obligatorio
                              </mat-error>
                            </mat-form-field>

                            <mat-form-field class="flex-auto">
                              <mat-label>Carrera</mat-label>
                              <mat-select formControlName="carreraId">
                                <mat-option
                                  *ngFor="let row of careersOptions; trackBy: trackById"
                                  [value]="row.id"
                                >
                                  {{ row.valor }}
                                </mat-option>
                              </mat-select>

                              <mat-error *ngIf="userControl.get('alumno.carreraId')?.hasError('required')">
                                Campo obligatorio
                              </mat-error>
                            </mat-form-field>

                            <mat-form-field class="flex-auto">
                              <mat-label>Turno</mat-label>
                              <mat-select formControlName="turnoId">
                                <mat-option
                                  *ngFor="let row of turnAlumnoOptions; trackBy: trackById"
                                  [value]="row.id"
                                >
                                  {{ row.valor }}
                                </mat-option>
                              </mat-select>

                              <mat-error *ngIf="userControl.get('alumno.turnoId')?.hasError('required')">
                                Campo obligatorio
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </ng-container>

                        <div class="flex flex-col" formGroupName="donacion">
                          <mat-form-field class="flex-auto">
                            <mat-label>¿Cómo se enteró del club?</mat-label>
                            <textarea matInput
                                      formControlName="referencia"
                                      rows="3"></textarea>

                            <mat-error *ngIf="userControl.get('referencia')?.hasError('maxlength')">
                              El campo debe tener menos de {{ userControl.get('referencia')?.getError('maxlength').requiredLength }} caracteres
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </ng-container>
                </ng-container>
              </mat-accordion>
            </div>

            <div class="actions flex items-center justify-end mt-4">
              <button color="primary"
                      mat-raised-button
                      matStepperNext
                      [disabled]="invalidFormUser">
                Continuar
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="booksForm">
          <form [formGroup]="booksForm">
            <ng-template matStepLabel>Agregar libro(s)</ng-template>

            <div class="mt-4 flex flex-row">
              <button class="flex flex-none"
                      color="primary"
                      mat-mini-fab
                      matTooltip="Agregar libro"
                      type="button"
                      (click)="addNewBook()">
                <mat-icon svgIcon="mat:add"></mat-icon>
              </button>
            </div>

            <div class="flex flex-col mt-2">
              <mat-accordion [multi]="true">
                <ng-container *ngIf="booksFormArray.length > 0"
                              formArrayName="libros">
                  <ng-container *ngFor="let bookControl of booksFormArray.controls; let i = index">
                    <mat-expansion-panel [formGroupName]="i"
                                         [expanded]="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title class="flex items-center">
                          Libro nuevo #{{ i + 1 }}
                          <mat-icon *ngIf="i > 0"
                                    class="text-warn-400 ml-2"
                                    svgIcon="mat:delete"
                                    matTooltip="Remover libro">
                          </mat-icon>
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                      <div class="flex flex-col gap-3">
                        <div class="flex flex-col gap-3 md:flex-row md:gap-5">
                          <mat-form-field class="flex-auto">
                            <mat-label>Título</mat-label>
                            <input
                              matInput
                              formControlName="titulo" />

                            <mat-error *ngIf="bookControl.get('titulo')?.hasError('required')">
                              Campo obligatorio
                            </mat-error>
                            <mat-error *ngIf="bookControl.get('titulo')?.hasError('minlength')">
                              El campo debe tener más de {{ bookControl.get('titulo')?.getError('minlength').requiredLength }} caracteres
                            </mat-error>
                            <mat-error *ngIf="bookControl.get('titulo')?.hasError('maxlength')">
                              El campo debe tener menos de {{ bookControl.get('titulo')?.getError('maxlength').requiredLength }} caracteres
                            </mat-error>
                          </mat-form-field>

                          <mat-form-field class="flex-auto">
                            <mat-label>ISBN</mat-label>
                            <input
                              matInput
                              formControlName="isbn" />

                            <mat-error *ngIf="bookControl.get('isbn')?.hasError('required')">
                              Campo obligatorio
                            </mat-error>
                            <mat-error *ngIf="bookControl.get('isbn')?.hasError('minlength')">
                              El campo debe tener más de {{ bookControl.get('isbn')?.getError('minlength').requiredLength }} caracteres
                            </mat-error>
                            <mat-error *ngIf="bookControl.get('isbn')?.hasError('maxlength')">
                              El campo debe tener menos de {{ bookControl.get('isbn')?.getError('maxlength').requiredLength }} caracteres
                            </mat-error>
                          </mat-form-field>
                        </div>

                        <div class="flex flex-col gap-3 md:flex-row md:gap-5">
                          <mat-form-field class="flex-auto">
                            <mat-label># Páginas</mat-label>
                            <input
                              matInput
                              formControlName="numPaginas"
                              onlyNumbers
                            />

                            <mat-error *ngIf="bookControl.get('numPaginas')?.hasError('required')">
                              Campo obligatorio
                            </mat-error>
                            <mat-error *ngIf="bookControl.get('numPaginas')?.hasError('min')">
                              El campo debe ser mayor o igual a {{ bookControl.get('numPaginas')?.getError('min').min }}
                            </mat-error>
                            <mat-error *ngIf="bookControl.get('numPaginas')?.hasError('max')">
                              El campo debe ser menor o igual a {{ bookControl.get('numPaginas')?.getError('max').max }}
                            </mat-error>
                          </mat-form-field>

                          <mat-form-field class="flex-auto">
                            <mat-label>Precio</mat-label>
                            <input
                              matInput
                              type="number"
                              formControlName="precio"
                              onlyNumbers
                              [decimal]="2"
                            />

                            <mat-error *ngIf="bookControl.get('precio')?.hasError('required')">
                              Campo obligatorio
                            </mat-error>
                            <mat-error *ngIf="bookControl.get('precio')?.hasError('min')">
                              El campo debe ser mayor o igual a {{ bookControl.get('precio')?.getError('min').min }}
                            </mat-error>
                            <mat-error *ngIf="bookControl.get('precio')?.hasError('max')">
                              El campo debe ser menor o igual a {{ bookControl.get('precio')?.getError('max').max }}
                            </mat-error>
                          </mat-form-field>

                          <mat-form-field class="flex-auto">
                            <mat-label>Edición</mat-label>
                            <input
                              matInput
                              formControlName="edicion"
                              onlyNumbers
                            />

                            <mat-error *ngIf="bookControl.get('edicion')?.hasError('required')">
                              Campo obligatorio
                            </mat-error>
                            <mat-error *ngIf="bookControl.get('edicion')?.hasError('min')">
                              El campo debe ser mayor o igual a {{ bookControl.get('edicion')?.getError('min').min }}
                            </mat-error>
                            <mat-error *ngIf="bookControl.get('edicion')?.hasError('max')">
                              El campo debe ser menor o igual a {{ bookControl.get('edicion')?.getError('max').max }}
                            </mat-error>
                          </mat-form-field>
                        </div>

                        <div class="flex flex-col gap-3 md:flex-row md:gap-5">
                          <mat-form-field class="flex-auto">
                            <mat-label># Copia</mat-label>
                            <input
                              matInput
                              formControlName="numCopia"
                              onlyNumbers
                            />

                            <mat-error *ngIf="bookControl.get('numCopia')?.hasError('required')">
                              Campo obligatorio
                            </mat-error>
                            <mat-error *ngIf="bookControl.get('numCopia')?.hasError('min')">
                              El campo debe ser mayor o igual a {{ bookControl.get('numCopia')?.getError('min').min }}
                            </mat-error>
                            <mat-error *ngIf="bookControl.get('numCopia')?.hasError('max')">
                              El campo debe ser menor o igual a {{ bookControl.get('numCopia')?.getError('max').max }}
                            </mat-error>
                          </mat-form-field>

                          <mat-form-field class="flex-auto">
                            <mat-label>Estado físico</mat-label>
                            <mat-select formControlName="estadoFisicoId">
                              <mat-option
                                *ngFor="let row of conditionOptions; trackBy: trackById"
                                [value]="row.id"
                              >
                                {{ row.valor }}
                              </mat-option>
                            </mat-select>

                            <mat-error *ngIf="bookControl.get('estadoFisicoId')?.hasError('required')">
                              Campo obligatorio
                            </mat-error>
                          </mat-form-field>

                          <mat-form-field class="flex-auto">
                            <mat-label>Idioma</mat-label>
                            <mat-select formControlName="idiomaId">
                              <mat-option
                                *ngFor="let row of languageOptions; trackBy: trackById"
                                [value]="row.id"
                              >
                                {{ row.valor }}
                              </mat-option>
                            </mat-select>

                            <mat-error *ngIf="bookControl.get('idiomaId')?.hasError('required')">
                              Campo obligatorio
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div class="flex flex-col gap-3 md:flex-row md:gap-5">
                          <mat-form-field class="flex-auto">
                            <mat-label>Estatus</mat-label>
                            <mat-select formControlName="estatusId">
                              <mat-option
                                *ngFor="let row of statusBookOptions; trackBy: trackById"
                                [value]="row.id"
                              >
                                {{ row.valor }}
                              </mat-option>
                            </mat-select>

                            <mat-error *ngIf="bookControl.get('estatusId')?.hasError('required')">
                              Campo obligatorio
                            </mat-error>
                          </mat-form-field>

                          <mat-form-field class="flex-auto">
                            <mat-label>Género Literario</mat-label>
                            <mat-select formControlName="generoId">
                              <mat-option
                                *ngFor="let row of genreOptions; trackBy: trackById"
                                [value]="row.id"
                              >
                                {{ row.nombre }}
                              </mat-option>
                            </mat-select>

                            <mat-error *ngIf="bookControl.get('generoId')?.hasError('required')">
                              Campo obligatorio
                            </mat-error>
                          </mat-form-field>
                        </div>

                        <div class="flex flex-col">
                          <mat-form-field class="flex-auto">
                            <mat-label>Reseña</mat-label>
                            <textarea matInput
                                      formControlName="resenia"
                                      rows="3"></textarea>

                            <mat-error *ngIf="bookControl.get('resenia')?.hasError('maxlength')">
                              El campo debe tener menos de {{ bookControl.get('resenia')?.getError('maxlength').requiredLength }} caracteres
                            </mat-error>
                          </mat-form-field>
                        </div>

                        <div class="flex flex-col items-center">
                          <div class="flex w-full"
                               formArrayName="autores">
                            <mat-selection-list
                              #authors
                              class="card w-full overflow-hidden">
                              <div class="flex items-center mb-4">
                                <h3 mat-subheader>Autores</h3>

                                <span class="flex-1"></span>

                                <div class="flex flex-row gap-2 mr-4">
                                  <button class="flex-none"
                                          color="primary"
                                          mat-mini-fab
                                          matTooltip="Agregar"
                                          matTooltipPosition="above"
                                          type="button"
                                          (click)="openDialogAuthors(i)">
                                    <mat-icon svgIcon="mat:add"></mat-icon>
                                  </button>

                                  <button class="flex-none"
                                          color="warn"
                                          mat-mini-fab
                                          matTooltip="Eliminar"
                                          matTooltipPosition="above"
                                          type="button"
                                          [disabled]="authors.selectedOptions.selected.length === 0"
                                          (click)="deleteAuthors(i)">
                                    <mat-icon svgIcon="mat:delete"></mat-icon>
                                  </button>
                                </div>
                              </div>
                              <h3 mat-subheader *ngIf="getAuthorsFormArray(i).length === 0">
                                No hay autores
                              </h3>
                              <ng-container *ngIf="getAuthorsFormArray(i).length > 0">
                                <mat-list-option *ngFor="let author of getAuthorsFormArray(i).controls; let indexAuthor = index"
                                                 [value]="author.get('id')?.value">
                                  {{ getAuthorsFormArray(i).at(indexAuthor).get('nombre')?.value }}
                                </mat-list-option>
                              </ng-container>
                            </mat-selection-list>
                          </div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </ng-container>
                </ng-container>
              </mat-accordion>
            </div>

            <div class="actions flex items-center justify-end mt-4">
              <button color="primary"
                      mat-raised-button
                      matStepperNext
                      [disabled]="invalidFormBooks"
                      (click)="save()">
                Guardar
              </button>
            </div>
          </form>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</vex-page-layout>
