span {
  font-size: 15px;
}

.footer {
  bottom: 0;
  width: 100%;
}

.icon-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: .8rem;
}

.mr-10 {
  margin-right: 10px;
}
