<div class="dropdown">
  <div class="dropdown-header flex items-center justify-between">
    <div class="flex items-center">
      <div class="dropdown-heading-icon flex items-center justify-center">
        <mat-icon svgIcon="mat:person"></mat-icon>
      </div>
      <div class="dropdown-heading">{{ username }}</div>
    </div>
  </div>

  <div class="dropdown-content">
    <a (click)="close()"
       class="notification flex items-center"
       matRipple>
      <mat-icon class="notification-icon flex-none text-primary-600"
                svgIcon="mat:account_circle"></mat-icon>
      <div class="flex-auto">
        <div class="notification-label">Mi perfil</div>
      </div>
    </a>

    <a (click)="openDialogChangePassword()"
       class="notification flex items-center"
       matRipple>
      <mat-icon class="notification-icon flex-none text-primary-600"
                svgIcon="mat:lock"></mat-icon>
      <div class="flex-auto">
        <div class="notification-label">Cambiar contraseña</div>
      </div>
    </a>
  </div>

  <div class="dropdown-footer flex items-center justify-end">
    <button (click)="logout()"
            color="primary"
            mat-button>
      Cerrar sesión
    </button>
  </div>
</div>
