<div fxLayout="row wrap"
     fxLayoutAlign="center">
  <div fxFlex="100">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Catálogo de Usuarios</mat-card-title>
        <span class="spacer"></span>
        <button mat-raised-button
                color="primary">
          <mat-icon>add</mat-icon> Nuevo
        </button>
      </mat-card-header>

      <div class="mt-20">
        <mat-divider [inset]="true"></mat-divider>
      </div>

      <mat-card-content class="mt-20"
                        *ngIf="data">
        <div fxLayoutGap="15px">
          <mat-form-field class="w-100">
            <mat-label>Buscar por código, nombre completo o correo electrónico</mat-label>
            <input matInput
                   type="text"
                   [(ngModel)]="search">
            <button matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="searchOptions()">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>

          <app-table-crud [data]="data"
                          [columns]="columns"
                          [titles]="columnsTitle"
                          (orderBy)="sort($event)"
                          (onEdit)="openDialog($event)"
                          (onDelete)="delete($event)">
          </app-table-crud>
        </div>
      </mat-card-content>

      <mat-card-actions *ngIf="userResponse">
        <app-paginator [pageSizeOptions]="[5, 10, 25]"
                       [meta]="userResponse.meta!"
                       (onChanges)="paginatorChanges($event)">
        </app-paginator>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
