<mat-sidenav-container class="sidenav-container"
                       [hasBackdrop]="true">
  <mat-sidenav #drawer
               class="sidenav"
               mode="over"
               fixedInViewport>
    <mat-toolbar color="primary">
      <span>Menú</span>

      <span class="spacer"></span>

      <button mat-icon-button
              (click)="drawer.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <div class="profile-card">
        <img [src]="user.photo! | image" alt="Soufiane FADIL">
        <div class="header">
          <h2>{{ (user | completeName) | slice: 0:39 }}{{ (user | completeName).length > 40 ? '...' : '' }}</h2>
          <h4>{{ user.email | slice:0:34 }}{{ user.email!.length > 35 ? '...' : '' }}</h4>
        </div>
      </div>

      <mat-divider></mat-divider>

      <h2 mat-subheader>Módulos</h2>

      <a mat-list-item
         routerLink="/dashboard"
         (click)="drawer.toggle()">
        <mat-icon mat-list-icon>assessment</mat-icon>
        <span>Dashboard</span>
      </a>

      <a mat-list-item
         routerLink="./usuarios"
         (click)="drawer.toggle()"
         *ngIf="isAuthorize([role.Admin])">
        <mat-icon mat-list-icon>person</mat-icon>
        <span>Usuarios</span>
      </a>

      <a mat-list-item
         routerLink="./autores"
         (click)="drawer.toggle()"
         *ngIf="isAuthorize([role.Admin, role.Capturist])">
        <mat-icon mat-list-icon>face</mat-icon>
        <span>Autores</span>
      </a>

      <a mat-list-item
         routerLink="./donaciones"
         (click)="drawer.toggle()"
         *ngIf="isAuthorize([role.Admin, role.Capturist])">
        <mat-icon mat-list-icon>volunteer_activism</mat-icon>
        <span>Donación</span>
      </a>

      <a mat-list-item
         routerLink="./libros"
         (click)="drawer.toggle()"
         *ngIf="isAuthorize([role.Admin, role.Capturist])">
        <mat-icon mat-list-icon>menu_book</mat-icon>
        <span>Libros</span>
      </a>

      <a mat-list-item
         routerLink="./prestamos"
         (click)="drawer.toggle()"
         *ngIf="isAuthorize([role.Admin, role.Capturist])">
        <mat-icon mat-list-icon>fact_check</mat-icon>
        <span>Préstamos</span>
      </a>

      <a mat-list-item
         routerLink="./multas"
         (click)="drawer.toggle()"
         *ngIf="isAuthorize([role.Admin, role.Capturist])">
        <mat-icon mat-list-icon>event_busy</mat-icon>
        <span>Multas</span>
      </a>

      <mat-divider></mat-divider>

      <h2 mat-subheader>Lector</h2>

      <a mat-list-item
         routerLink="./prestamos-resumen"
         (click)="drawer.toggle()"
         *ngIf="isAuthorize([role.Reader])">
        <mat-icon mat-list-icon>fact_check</mat-icon>
        <span>Préstamos</span>
      </a>

      <mat-divider></mat-divider>

      <h2 mat-subheader>Cuenta</h2>

      <a mat-list-item
         routerLink="./perfil"
         (click)="drawer.toggle()"
         *ngIf="isAuthorize([role.Reader])">
        <mat-icon mat-list-icon>person</mat-icon>
        <span>Mi perfil</span>
      </a>

      <ng-container *ngIf="(isHandset$ | async)">

        <a mat-list-item
           (click)="logout()">
          <mat-icon mat-list-icon>logout</mat-icon>
          <span>Cerrar sesión</span>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <img class="logo"
           src="assets/img/logo.png"
           alt="logo">
      <span>Dashboard</span>

      <ng-container *ngIf="!(isHandset$ | async)">
        <span class="spacer"></span>

        <button mat-button
                (click)="logout()">
          <mat-icon>logout</mat-icon>
          Cerrar sesión
        </button>
      </ng-container>
    </mat-toolbar>

    <!-- Contenido de la app -->
    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
