:root {
  --green: #4CAF50;
  --pink: #FF4081;
}

html, body {
  height: 100%;
}

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.logo {
  width: 35px;
  padding: 10px;
}

.spacer {
  flex: 1 1 auto;
}
