:root {
  --primary: #3F51B5;
  --green: #4CAF50;
  --pink: #FF4081;
  --gray-border: #BDBDBD;
}

html, body {
  height: 100%;
}

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cursor {
  cursor: pointer;
}

.logo {
  width: 35px;
  padding: 10px;
}

.spacer {
  flex: 1 1 auto;
}
