:root {
  --primary: #3F51B5;
  --green: #4CAF50;
  --pink: #FF4081;
  --gray-border: #BDBDBD;
}

html, body {
  height: 100%;
}

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cursor {
  cursor: pointer;
}

.logo {
  width: 35px;
  padding: 10px;
}

.spacer {
  flex: 1 1 auto;
}

// width
.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

// margin-top
.mt-20 {
  margin-top: 20px;
}
