<mat-card class="book-card">
  <div class="img-book-div">
    <img class="img-book"
         [src]="img | image"
         [alt]="title">
  </div>
  <mat-card-content>
    <div class="book-card-content">
      <h4>
        <b>{{ title | slice:0:44 }}{{ title.length > 45 ? '...' : '' }}</b>
      </h4>
      <p>{{ noAuthors | i18nPlural: authorMessageMapping }} {{ author | slice:0:44 }}{{ author.length > 45 ? '...' : '' }}</p>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div class="status-chip"
         [ngClass]="{ 'green': (_status === statusBook.Available), 'pink': (_status === statusBook.OnLoan) }">
      <span>{{ _statusName }}</span>
    </div>
  </mat-card-footer>
</mat-card>
