<div class="bg-pattern w-full h-full flex flex-col items-center justify-center">
  <div [@fadeInUp] class="card overflow-hidden w-full max-w-md">
    <div class="p-6 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/logo/logo.svg" alt="logo" />
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Restablecer contraseña</h2>
      <h4 class="body-2 text-secondary m-0">
        Ingresa tu correo electrónico
      </h4>
    </div>

    <div [formGroup]="form" class="p-6 flex flex-col">
      <mat-form-field>
        <mat-label>Correo electrónico</mat-label>

        <mat-icon class="mr-2" matIconPrefix svgIcon="mat:mail"></mat-icon>
        <input formControlName="correo"
               matInput />
        <mat-error *ngIf="form.controls.correo.hasError('required')">
          Campo obligatorio
        </mat-error>
        <mat-error *ngIf="form.controls.correo.hasError('email')">
          El campo no es una dirección de correo válida
        </mat-error>
      </mat-form-field>

      <button (click)="send()"
              class="mt-2"
              color="primary"
              mat-raised-button
              type="button">
        RESTABLECER CONTRASEÑA
      </button>

      <button
        (click)="backToLogin()"
        class="mt-3"
        mat-button type="button">
        REGRESAR
      </button>
    </div>
  </div>
</div>
